*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;

}

@font-face{
    font-family: "AM";
    src: url(../fontes/AM_TP001.TTF);
    
}

body{
    width: 100%;
    text-align: center;
    font-family: "AM";
    background-color: rgba(255, 228, 196, 0.624);
    overflow: hidden;
    height: 100%;
    

}
button .btn{
    display: none;
    position: absolute;
}
.primeira-pg{
    width: 100%;
    height: 100vh;
}

img{
    height: 100vh;
    width: 40%;
    float: right;
}

.seta{
    /* border: solid black 1px; */
    border-radius: 60px ;
}

.primeira-pg__apresentacao{
   padding-top: 15%;
   

}

.apresentacao-titulo span{
    font-size: 3em;
}

h2{
    font-size: 1em;
}

.code{
    color: red;
    text-indent: 20%;
}

.menu{
    /* border: red solid 1px; */
    padding: 1em  0;
    position: relative;
    top:10%; 
    margin-top:3em;
    text-align: center;
    width: 60%;
}

.menu-lista{
    /* border: solid red; */
    text-align: center;
    
}

.menu-lista__item, .btn-link{
    width: 25%;
    display: inline;
    padding: 1em 2em;
    border: rgb(255, 0, 43) solid 3px; 
    border-radius: 5px;
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: 900;
}

.menu-lista__item:hover, .btn-link:hover{
    background-color: azure;
}

.menu-lista__item a{
    text-decoration: none;
    color:black;
   
}

main{
    height: 100vh;
}
section #contato{
    width: 100%;
    /* display: block; */
    height: 100%;
}
.contato-titulo{
    width: 30%;
    height: 100vh;
    text-align: center;
    background-color: black;
    color: aliceblue;
    /* margin-top:7%; */
    padding-top: 20%; 

}

.contato-titulo h1{
    width: 90%;
    text-align: center;
    transform:rotate(270deg);

   
}

.contato-redes{
    width: 50%;
    margin: 0 39%;
    /* border: red solid; */
    height: 100%;
    position: relative;
    bottom:30em;

    
}

.contato-redes__icone{
    width: 25%;
    height: 25%;
    /* border: 1px red solid; */
    padding-left: 3em;
}

.contato-redes .seta{
    width: 88px;
    height: 88px;
    position: relative;
    bottom: 25em;
}



/* Pagina sobre */
.img-sobre{
    width: 50%;
    filter: grayscale(2);
    opacity:0.5;
    float:left;
}

.sobre{
    width: 50%;
    float: right;
    position: relative;
    padding-top:10%;

}

.sobre p{
    margin:0 10%;
    text-align: justify;
    font-size: 1em;
}

.btn-link{
    position: relative;
    top: 2em;
    height: 2em;
    font-size:1em ;
    color: black;
}




/* pagina contato */

.contato{
    width: 100%;
    height: 100vh;
    /* border: solid; */
    /* background: grey; */
    /* overflow-y: scroll;  */
}

.contato-form__{
    width: 100%;
    height: 100%;

}
.contato-form{
    
    width: 50%;
    margin: 0 auto;
    /* border: red solid; */
    height: 100%;
    position: relative;
    bottom:40em;
    left:10%;
    height: 70%;

}

.contato-titulo2{
    width: 30%;
    height: 100%;
    text-align: center;
    background-color: black;
    color: aliceblue;
    /* margin-top:7%; */
     padding-top: 20%; 
     padding-bottom: 22%; 

}

form{
    padding-top:25%;
    padding-bottom:25%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    /* border: red solid; */
    /* left: 10%; */
    float: right; 
    


}

input[type='text'], input[type='email'], textarea{
    width: 50%;
    padding: 2%;
    margin: 2%;
    border-color:black;
    border-radius: 5px;


}

input[type='submit']{
    width: 25%;
    color:rgb(34, 33, 34);
    font-family:'AM';
    padding: 0.5em 2em;
    top:1em;
}

.contato-form .seta{
    float:right;
    position: relative;
    bottom:35em;
    left: 20%;

}

.contato-form .code{
    width: 100%;
    float:right;
    position: relative;
    bottom:30em;
    left: 50%;


}





/* mobile */

@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: content-box;
    }
    
    
    @font-face{
        font-family: "AM";
        src: url(../fontes/AM_TP001.TTF);
        
    }
    
    body{
        width: 100%;
        font-family:"AM";
        background-color: rgb(255, 228, 196);
        overflow-y: hidden;   
        
    }
    
    header{
        width: 100%;
        height: 100vh;
        
    
    }

   .primeira-pg__apresentacao{
        width: 90%;
        margin: auto;
        position: relative;
        bottom:200px;

    }

    .contato{
        height: 100vh;

    }
    .contato-titulo, .contato-titulo2{
        width: 100%;
        height:10%;
        text-align: center;
        vertical-align: middle;
        
    }
    .contato-titulo h1{
        padding-top:25%;
        transform:rotate(0deg);
    }

    .contato-redes{
        height: 80%;
        justify-content:center;
        display: grid; 
        grid-template:
          'img img ' 50% 
          'img img ' 50%
          
        ;
        
        margin:0 auto;
        width: 90%;
        text-align: center;
        bottom:1em;
        padding-top:10%; 
        /* border:solid; */


        /* float: none; */

    }

    .contato-redes__link{
        margin: 0 auto; 
        display: block; 
        /* padding: 0 40px; */
        /* width: 100%;  */

    }

    .contato-redes__icone{
        width: 100%;
        height: 80%;
        margin:0 auto;
        /* border: solid;  */
        padding:0 ;
   
        
        

        
        
    }
    .seta{
        position:relative;
        top:3em;
        width: 50%;
    }
    
    
    h1{
       font-size: 32px;
       position: relative;
       bottom: 5em;
       margin: 0 auto;
    }
    
    
    header img{
        width: 100%;
        filter: grayscale(2);
        opacity:0.5;
    }
    
    .menu{
        position: absolute;
        background-color: rgb(255, 228, 196);
        width: 100%;
        position: fixed;
        top: 1em;
        text-align: left;
        display:block;
        top:1px;
        
        
    
    }

    .menu-lista{
        width: 100%;
        position: relative;
        
        
    

    }

    .menu-lista__item{
        border: none;
        width: 100%;
        float: left;

        
       
    }

    .btn-abrir--fechar{
        background-color: rgb(255, 228, 196);
        padding: 70px;
        display: block;
        
        
    }
    
    
    nav.ativar .menu{
      display: block;
    }
    

    button .btn {
        position: absolute;
        display: block;
        width: 20px;
        right: 90%;
    }


    
    
    #btn-fechar{
        margin-left: 20px;
        margin-top: 20px;
        position: absolute;
        top:20px;
        background-color: antiquewhite;
    }
    
    li a{
        color: black;
        text-decoration: none;
        
        
    }
    
    
    
    
    li{
        padding-bottom: 1em;
        padding-top: 1em;
        padding-left: 0.2em;
        /* border: 2px red solid; */
        font-weight: 600;
        
        
        
    }
    
    li::before{
        content: "> ";
        color: red;
    }
    li:hover::before{
        content: "^.^ ";
    }
    
    
    li:hover{
        background-color: azure;
    }


    /* pagina com o formulario de contato */
    .contato-titulo2{
        height:10%;
        padding: 2%;
        text-align: center;
    }
    .contato-titulo2 h1{
        padding-top:20%;
        position: relative;
        bottom:1.5em;
        transform:rotate(0deg);
    }

    .contato-form__{
        width: 100%;
        height: 100%;

    }
    .contato2{
        width:100%;
    }
 
    form{
        width: 100%;
        top:38em;
        position: relative;
        right:40%;
        /* border:solid; */
        display:grid;
        grid-template: "input[type='text'] input[type='email']" 50% ;
    }

    input[type='text'], input[type='email'], textarea{
        position: relative;
        width: 90%;
        padding: 3%; 
        /* margin: 2%; */
        border-color:black;
        margin:0.2em;
        border-radius: 5px;
       
    
    
    }

    .contato-form .seta{
        float:right;
        position: relative;
        top:10em;
        left: 20%;
    
    }
    
    .contato-form .code{
        width: 10%;
        float:right;
        position: relative;
        top:20em;
        left: 50%;

    }

    .pagina-sobre{
        width: 100%;
        position: relative;
        top:1em;
        height:100vh;
      
        
    }  
    
    .sobre{
        width: 60%;
        position: relative;
        top:0px;
        border:solid;

     

    }

    .sobre-titulo{
        position: relative;
        top:1em;
        padding-bottom:2em;

       
    }


     .img-sobre{
        height:40%;
        position: relative;
        bottom:500px;
        z-index: -999999;
    
     }


     .sobre-pgfPrincipal{
           position: relative;
           top: 70px;
           font-size:6%;

    
     }


    .sobre .btn-link{
        position: relative;
        float:left;
        right:45%;
        text-align:center;
        vertical-align:middle;
        padding-top: 8%;
        
        
        

    }





  


    
} 